body{
    background: black;
    font: normal 1em Arial;
}
span{
    color: aqua;
}
main{
    position: absolute;
    top: 40%;
    left: 35%;
    translate:-50% -50%;
    width: 400px;
    text-align: start;
    color: white;
}
a{
    text-decoration: none;
    color: black;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    transition: 0.2s;
    box-sizing: border-box;
}
a:hover{
    translate: 5px;
    border: 2px solid white;
}
.img{
    position: absolute;
    border-radius: 15px;
    bottom: -20.6%;
    left: 110%;
    width: 400px;
    height: 400px;
    background: black url(como-se-tornar-um-programador-mobile.jpg) center center no-repeat fixed;
    background-size: cover;
    box-shadow: 1px 1px 10px aqua;
}
.back{
    border: 2px solid aqua;
    position: absolute;
    border-radius: 15px;
    left: 115%;
    bottom: -15%;
    width: 390px;
    height: 390px;
    transition: 0.2s;
}
.img:hover{
    box-shadow: 1px 1px 10px rgb(255, 0, 255);
}
#a{
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
}